<main class="p-5">
    <h1>Hello<i class="bi bi-emoji-smile"></i>
        <i class="fa-brands fa-apple fa-flip" style="color: #0c0d0c;"></i>
    </h1>

    <button class="btn btn-success">
        <i class="bi bi-envelope-paper"></i>
        <i class="fa-brands fa-apple fa-flip" style="color: #0c0d0c;"></i>
    </button>

    <div>
        <img src="/svg/frog.svg">
    </div>
</main>