<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Title one two</h3>

    <hr>
    <br>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Title</div>

    <hr>
    <br>

    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>
    <br>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>
    <br>

    <p class="text-primary">My text</p>

    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-success btn-lg">My button</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>