<main class="p-5">

    <div class="card">
        <div class="row">
            <strong class="col-9 m-2">Руслан Біляк</strong>
            <strong class="col-2 m-2">Resume project</strong>
        </div>
    </div>

    <h3 class="mt-5 mb-3">Список сторінок</h3>

    <div class="card bg-warning p-2 mb-5">
        <p>На данний час, нічого не можу сказати про свій проєкт. Ще нічого не зрозуміло....напевне</p>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-group lis-group-flush">
                <li class="list-group-item"><a class="btn btn-info mt-5" href="/summary">Summary</a></li>
                <li class="list-group-item"><a class="btn btn-success mt-3" href="/skills">Skills</a></li>
                <li class="list-group-item"><a class="btn btn-danger mt-3" href="/education">Education</a></li>
                <li class="list-group-item"><a class="btn btn-secondary btn-lg mt-3" href="/work">Work</a></li>
                <li class="list-group-item"><a class="btn btn-primary btn-lg mt-3" href="/bio">Bio</a></li>
                <li class="list-group-item"><a class="btn btn-dark btn-lg mt-3" href="/car">Car</a></li>
                <li class="list-group-item"><a class="btn btn-outline-primary mt-3" href="/facebook">Facebook</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark btn-lg mt-3" href="/js">JS</a></li>
                <li class="list-group-item"><a class="btn btn-outline-secondary btn-lg mt-3" href="/mac">Mac</a></li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/program">Program</a></li>
                <li class="list-group-item"><a class="btn btn-outline-warning mt-3" href="/person">Person</a></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="list-group lis-group-flush">
                <li class="list-group-item"><a class="btn btn-outline-success mt-5" href="/shopcart">Shopcart</a></li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/shopcatalog">Shopcatalog</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/shophome">Shophome</a></li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/shoporder">Shoporder</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/shopprofile">Shopprofile</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-success mt-3" href="/shopreview">Shopreview</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-secondary btn-lg mt-3" href="/task21">Task21</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-secondary btn-lg mt-3" href="/task22">Task22</a>
                </li>
                <li class="list-group-item"><a class="btn btn-outline-secondary btn-lg mt-3" href="/task31">Task31</a>
                </li>

            </ul>
        </div>
    </div>

</main>